header.header
    .header__logo
        a.header__logo-title(href=``) News App
    .header__search
        .header__search-img
        .header__search-stop-img
        input.header__search-input(type='text' placeholder='Type something to start search')
        .header__search-result-list
    .header__burger
        .burger
            .burger__face
                span
            ul.burger__list-box
                li#burgerItemTrending.burger__list-item.burger_list-item_trends
                    a(href='' data-link_type= "Category") &#x26A1;&#xFE0F; Trending news
                li#burgerItemCategories.burger__list-item
                    a(href='') Categories
                    ul.burger__under-list-box
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") Sport
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") World
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") Covid
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") Business
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") Politics
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") Science
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") Religion
                        li.burger__under-list-item
                            a(href='' data-link_type= "Category") Health
