doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
include ../includes/modules/header
main.main.main_page
    .main_page__img
    .main_page__text
        h2.main_page__text-title
        p.main_page__text-author
        p.main_page__text-date
        #pageMainText.main_page__text-content
    button.main__scroll-top
        span.main__scroll-top-span Scroll to top
        .main__scroll-top-arrow
include ../includes/modules/footer